{% extends 'html/base.html' %}



{% block content %}
<div class="container" style="max-width: 800px;
margin: 50px auto;
background-color: #fff;
padding: 20px 30px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <header>
        <h1>Bem-vindo ao  WD<b>Y</b>P - O Que <b>Você </b>Semeia ?</h1>
    </header>

    <section>
        <h2>Sobre o Projeto</h2>
        <p>
            WDYP é uma plataforma inovadora que utiliza o poder do aprendizado de máquina para fornecer previsões precisas em uma variedade de conjuntos de dados. Seja você um pesquisador, estudante ou entusiasta, nossa plataforma oferece uma interface amigável para treinar algoritmos e fazer previsões.
        </p>
    </section>

    <section>
        <h2>Funcionalidades</h2>
        <ul>
            <li>Interface fácil de usar para treinamento de algoritmos.</li>
            <li>Suporte para múltiplos modelos de aprendizado de máquina.</li>
            <li>Previsões em tempo real com modelos treinados.</li>
            <li>Visualizações para entender o desempenho do modelo.</li>
        </ul>
    </section>

    <section style="text-align: center;">
        <h2>Comece Agora</h2>
        {% if user.is_authenticated %}
        <a  href="{% url 'algorithm' %}" class="btn btn-lg  btn-danger">Algoritmo</a>


    {% else %}
    <p>
        Pronto para começar? <a href="{% url 'register' %}">Registre-se</a> agora e descubra o poder do WDYP!
    </p>
    {% endif %}
      
    </section>
</div>
{% endblock %}  